body {
  font-family: "Open Sans", sans-serif;
}

.weather-app {
  border: 1px solid;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 700;
  font-weight: bold;
}

h3 {
  font-size: medium;
}

.weather-now {
  margin: 40px auto;
}

.stats {
  display: block;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.now {
  font-size: small;
  padding: 0;
  list-style: none;
  text-transform: capitalize;
}

.stat-now {
  margin: auto;
  padding: 40px;
  text-align: center;
}

.stat-name {
  font-weight: bold;
}

.stat-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 15px;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.weather-forecast-date {
  font-size: 13px;
  font-weight: bold;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 11px;
}
